/* Basic styles for the image frame */
.image-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 125px;
    padding: 20px;
}

/* Styles for the clickable images */
.image-frame a {
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
    /* Set fixed width and height for the clickable frames */
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-frame a:hover {
    transform: scale(1.1);
}

.image-frame img {
    max-width: 100%;
    max-height: 100%;
}
