<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Library</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to your external CSS file -->
</head>
<body>
    <div class="top-bar">
        <img src="/static/logo.png" alt="Logo" class="logo">
    </div>

    <div class="image-frame">
        <a href="/movie1"><img src="/static/inception.png" alt="Movie 1"></a>
        <a href="movie2.html"><img src="/static/1917.png" alt="Movie 2"></a>
        <a href="movie3.html"><img src="/static/bluebeetle.png" alt="Movie 3"></a>
        <a href="movie3.html"><img src="/static/darkknight.png" alt="Movie 4"></a>
        <a href="movie3.html"><img src="/static/extraction.png" alt="Movie 5"></a>
        <a href="movie3.html"><img src="/static/fastfurious.png" alt="Movie 6"></a>
        <a href="movie3.html"><img src="/static/fastfurious2.png" alt="Movie 7"></a>
        <a href="movie3.html"><img src="/static/inception.png" alt="Movie 8"></a>
        <a href="movie3.html"><img src="/static/interstaller.png" alt="Movie 9"></a>
        <a href="movie3.html"><img src="/static/heartstone.png" alt="Movie 10"></a>
        <a href="movie3.html"><img src="/static/mile.png" alt="Movie 11"></a>
        <a href="movie3.html"><img src="/static/shawsank.png" alt="Movie12"></a>
        <a href="movie3.html"><img src="/static/theflash.png" alt="Movie 13"></a>
         <a href="movie3.html"><img src="/static/themummy.png" alt="Movie 14"></a>
         <a href="movie3.html"><img src="/static/mile.png" alt="Movie 6"></a>
         <a href="movie3.html"><img src="/static/fastfurious.png" alt="Movie 6"></a>
    </div>
</body>
</html>
