<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        video {
            display: block;
            width: 400%;
            max-width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <header>
        <h1> {{name}} </h1>
    </header>

    <video controls>
        <source src="https://d1h2t30e6cpezk.cloudfront.net/039 Security Groups & Classic Ports Overview.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
